

body {
    line-height: inherit;
}

h1{
    font-size: 61px;
    font-weight: 700;
}

input{
    height: 27px;
    padding: 13px 21px;
    font-size: 18px;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    resize: none;
    outline: none;
    margin-bottom: 30px;
    color: #757D90;
    font-family: 'Roboto', sans-serif;
}

textarea{
    margin-bottom: 34px;
    height: 90px;
    padding: 18px 21px;
    font-size: 18px;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    resize: none;
    outline: none;
    color: #757D90;
    font-family: 'Roboto', sans-serif;
}

select{
    margin-bottom: 34px;
    height: 55px;
    padding: 0px 21px;
    font-size: 18px;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    resize: none;
    outline: none;
    color: #757D90;
    font-family: 'Roboto', sans-serif;
}

.head-text{
    margin: 0;
    color: rgba(0, 0, 0, 0.7);
    font-weight: bold;
    font-size: 35px;
}
.head-text-small{
    color: #2c2ca8;
    font-size: 16px;
    font-weight: 500;
}
.heading{
    margin-bottom: 40px !important;
    margin-top: 160px !important;
    
}

.main{
    margin-right: 40px;
}

.input-main{
    display: flex;
    max-width: 1000px; 
}

.input-left{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    
}

.input-left-after-h1{
    display: flex;
    flex-direction: column;
    padding-right: 40px;
    border-right: 1px solid #d1d1d1;
}

.input-right{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-left: 40px;;
    padding-top: 156px;
}

.input-right-inner{
        display: flex;
        padding-right: 40px;
        flex-direction: column;
    }


.form-label{
    color: #757D90;
    font-weight: 400;
    margin-bottom: 8px;
    font-size: 18px;
}

.avatar{
    width: 55px;
    height: 55px;
    margin-bottom: 5px;
    margin-right: 10px;
    align-items: center;
    border-radius: 50%;
    object-fit: cover;
}


.avatar:hover{
    opacity: 0.6;
}

.plus-svg{
    opacity: 60%;
    
}

.plus-svg-middle{
    opacity: 60%;
    margin-top: -7px;
}


.plus-svg:hover {
    fill: #29ABE2;
    cursor: pointer;
    opacity: 100%;
}
.button{
    display: flex;
    align-items: center;
    padding: 12px 10px;
    font-size: 16px;
    border: 1px solid #2A3647;
    border-radius: 10px;
    cursor: pointer;
}

.button-clear{
   background-color: white;
   color: #595b5f;
}


.button-clear:hover {
    border: 1px solid #29ABE2 !important;
    box-shadow: 2px 4px 4px 0px rgb(0 0 0 / 20%) !important;
    background-color: white !important;
    color: #29ABE2;
}

.button-fill{
    background-color: #2A3647;
    color: white;
    margin-left: 30px;
}

.button-fill:hover {
    background-color: #29ABE2 !important;
    border: 1px solid #29ABE2 !important;
    border: none;
    box-shadow: 2px 4px 4px 0px rgb(0 0 0 / 20%);
}

.tick-img{
    width: 15px;
    height: 15px;
    margin-left: 10px;
}

.checkmark{
    filter: invert(74%) sepia(83%) saturate(3935%) hue-rotate(199deg) brightness(96%) contrast(84%);
    width: 17px;
}

.cd-addtask{
    display: flex !important;
    justify-content: space-between;
}

.name-symbol{
    display: flex;
    align-items: center;
}

.cross-img{
    width: 25px;
    height: 25px;
    margin-left: 10px;
}

.button-clear:hover img {
    filter: invert(74%) sepia(83%) saturate(3935%) hue-rotate(165deg) brightness(96%) contrast(84%);
}


.button-close{
    width: 363px;
    height: 25px;
    display: flex;
    justify-content: flex-end;
    padding-top: 8px;
    cursor: pointer;
    z-index: 100;
}

.button span{
    white-space: nowrap;
    height: 100%;
    width: 100%;
    font-size: 21px;
    border-radius: 10px;
    cursor: pointer;
}

.bg-grey{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 4;
}
.d-none {
    display: none;
}
.user-container {
    position: absolute;
    top: 30px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    z-index: 5;
    background-color: #F5F5F5;
    border-radius: 10px;
    
    
    overflow-y: auto;
    
    
}
.container-outer {
    position: relative;
    height: 80%;
    width: 350px;
    z-index: 5;
    background-color: #F5F5F5;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    
}
.closeFrame{
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
}
.userName{
    font-weight: bold;
    margin-bottom: 8px;
}
.individualUser{
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
}
.userDetails{
    display: flex;
    flex-direction: column;
}
.user-show-box{
    display: flex;
    align-items: center;
}
.individualUser :hover{
    color: rgba(40, 86, 185, 0.5);
    
}
.addUser{
    resize: none;
}
.avatar-plus{
    display: flex;
    align-items: center;
}
.svg-check{
    fill: rgb(32, 90, 14);
    margin-left: 50px;
}
.userWarning{
    padding: 5px;
    background-color: white;
    border-radius: 5px;
    margin-right: 10px;
}
.Exclaim{
    margin-right: 5px;
}
.submit-area{
    margin-top: 20px;
    display: flex;
}
.confirm-text{
    color: rgb(77, 150, 54);
    font-weight: bold;
    margin-top: 20px;
}
#user-img{
    display: flex;
    align-items: center;
}

.added-user{
    display: flex; 
    flex-direction: column; 
    align-items: center;
}

.added-user *{
    margin-left: -19px;
}

.added-user:nth-child(1){
    margin-left: 16px;
}





.alphabet-letter-add-task{
    margin-left: 0 !important;
}





@media(max-width: 960px) {
    h1{
        margin: 0;
        font-size: 50px;
        margin-bottom: 20px;
    }

    input{
        margin-bottom: 8px;
        padding: 4px;
        font-size: 18px;
        height: 30px;
    }

    select{
        margin-bottom: 8px;
        padding: 4px;
        font-size: 18px;
        height: 37px;
    }

    textarea{
        margin-bottom: 8px;
        padding: 4px;
        font-size: 18px;
    }

    
.button span {
    white-space: nowrap;
    height: 84%;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
}
    

    .form-label{
        font-size: 18px;
    }

    .input-main{
        flex-direction: column;
    }

    .heading{
        margin-top: 0px !important;
    }


    .input-right{
        padding-top: 0px;
        width: 100%;
        padding-left: 20px;

    }

    .input-left{
        width: 100%;
        padding-left:20px
    }
    .head-text{
        margin-top: 146px;
    }
    .main{
        margin-left: 12px !important;
        margin-right: 12px !important;
    }

    .container-outer{
        margin-top: 18px;
    }
    
    
 }

 @media(max-width: 770px){
    .main{
        margin-bottom: 100px;

 }
 }

 @media(max-width: 440px){
    .container-outer {
        transform: scale(0.8);
    }
 }



  

    


 



