

.backlog {
    padding-left: 220px;
    margin-top: 22px;
}

h1 {
    font-size: 65px;
    font-weight: bold;
}

h5 {
    font-size: 16px !important;
    margin: 0 !important;
}

/* .headline-backlog {
    padding-top: 50px;
} */

.headline {
    color: #2c2ca8;
}






/* .priority-con {
    background: url(../img/icons_google/low-icon.png) no-repeat;
} */

/* .priority-con img {
    height: 14px !important;
    width: 14px !important;
} */

.table tr {
    border-top: 1px solid #dee2e6;
}

.table td,
.table th {
    vertical-align: middle !important;
}

/* CODE von erste Tabelle im Textdocument */


.table tbody+tbody {
    border: 0px !important;
}


.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #859aaf;
}




table tr:hover {

    background-color: #f6fbff !important;
}

.head-table {
    font-size: 18px;
    background-color: #f1f1ff;
    border-top: 2px solid #859aaf !important;
    border-bottom: 2px solid black !important;
}

.head-table:hover {
    background-color: #f1f1ff !important;
}





.dialog-title {
    font-size: 40px;
    margin-bottom: 20px;
    margin-top: 20px;
    max-width: 20ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 700;
    color: #2A3647;
}





.display-block {
    display: block;
}

.dialog-btn {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.dialog-btn-inProgress {
    position: absolute;
    right: 10px;
    bottom: 65px;
}





.details-con {
    max-width: 15ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.category-con {
    text-align: center;
}

.urgency-img-center {
    /* width: 50px; */
    width: min-content;
    text-align: center;
}

.date-con {
    position: absolute;
    top: 19px;
    right: 25px;
    color: #726f6f;
}


.mobile-urgency {
    width: 32px;
    height: 45px;
    padding-left: 60px;
}

.mobile-version-con {
    display: flex;
    margin-bottom: 6px;
    background: #fcfcfc;
    border-radius: 7px;
    padding: 10px;
}

#backlogTable{
    cursor: pointer;
}

.info-con-mobile {
    padding-left: 6px;   
}

.title-mobile {
    font-size: 16px;
    width: 17ch;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.category-mobile {
    background-color: #03a9f4;
    border-radius: 7px;
    width: 100px;
    display: flex;
    justify-content: center;
    font-variant: all-small-caps;
}

.details-con-mobile {
    display: grid;
    padding-left: 45px;
    color: gray;
}

.max-width-ch {
    max-width: 15ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.user-box-dialog {
    display: grid;
    margin-top: 60px;
}

.gray-color {
    color: #726f6f;
}



.d-none{
    display: none !important;
}

@media (min-width: 870px) {
   
     .mobile-display {
        display: none;
    }
}

@media (max-width: 870px) {

    .backlog {
        padding-left: 10px;
    }

    .headline-backlog {
        padding-top: 115px;
    }
    .responsive-display {
        display: none;
    }

    .headline {
        font-size: 15px;
    }

    table {
        border: none;
    }

    thead {
        display: none;
    }

    #dialog-box {
        padding-left: 0 !important;
    }

    h1 {
        font-size: 35px !important;
    }

    .backlog-table {
        margin-top: 18px;
        padding-right: 25px;
    }


}

@media (max-width: 650px) {

    .dialog-title {
        font-size: 20px;
    }

    

    .dialog-table {
        width: 270px;
    }

    .date-con {
        top: 50px;
        left: 18px;
    }

}