body {
    line-height: inherit;
}

h1{
    font-size: 61px;
    font-weight: 700;
    padding-right: 40px; 
}

.slogan-text{
    margin-left: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 25px;
    border-left: 2px solid #29ABE2;
}

.heading{
    padding-left: 40px;
    margin-top: 160px;
    display: flex;
    align-items: center;
}

.main{
    margin-right: 40px;
}

.input-main{
    display: flex;
    
    max-width: 1000px; 
}


.input-left{
    width: 360px;
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    
}

.row{
    width: 100%;
    margin-top: 20px;
    margin-left: 0;
    display:flex;
    justify-content: space-between;
}

.task-nr{
    height: 110px;
    width: 110px;
    background-color: white;
    border: 1px solid #ecedee;
    border-radius: 16px;
    display: flex; 
    flex-direction: column;
    align-items: center;
}

.urgent-nr{
    height: 110px;
    width: 360px;
    background-color: white;
    border: 1px solid #ecedee;
    border-radius: 16px;
    display: flex; 
    align-items: center;
}

.task-nr-bottom{
    height: 110px;
    width: 160px;
    background-color: white;
    border: 1px solid #ecedee;
    border-radius: 16px;
    display: flex; 
    flex-direction: column;
    align-items: center;
}

.urgent-nr-left{
    width: 180px;
    display: flex;
    border-right: 2px solid #D1D1D1;
}

.urgent-date-nr{
    font-size: 30px;
    font-weight: 500;
    margin: 0;
    padding: 0;
    margin-top: 5px;
}

.urgent-date{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 5px;
}

.urgent-arrow{
    height: 40px;
    margin: 10px;
    margin-left: 46px;
}

.urgent-date-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.count{
    font-size: 50px;
    font-weight:500;
    margin: 0;
    padding: 0;
    margin-top: 5px;
}

.count-descr{
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    text-align: center;
}

.urgent-nr-right{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}


.deadline-descr{
    font-size: 10px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    text-align: center;
}

.todo-nr-container{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.todo-container{
    height: 110px;
    width: 160px;
    background-color: white;
    border: 1px solid #ecedee;
    border-radius: 16px;
    display: flex; 
    align-items: center;
    justify-content: center;
}

.pencil-background{
    height: 50px;
    width: 50px;
    background-color: #2A3647;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.pencil{
   height: 30px;
   filter: brightness(0) invert(1);

}



.input-right{
    display: flex;
    flex-direction: column;
    width: 30%;
    padding-left: 40px;
    padding-top: 194px;
}






@media(max-width: 870px) {
    .input-main{
        flex-direction: column;
    }
    .input-right{
        margin-left: 0;
        width: 100%;
    }
    .input-left{
        width: 100%;
    }
    .head-text{
        margin-top: 146px;
    }
    .main{
        margin-left: 12px !important;
        margin-right: 12px !important;
    }
    .heading{
        margin-bottom: 10px;
    }
    
 }





