.main{
  margin-right: 40px;
  margin-top: 22px !important;
}

.heading{
  margin-bottom: 40px;
  margin-top: 180px;
  margin-left: 40px;
}

h1{
  margin: 0;
  color: black;
  font-weight: bold;
  font-size: 61px;
}

.head-text-small{
  color: #2c2ca8;
  font-size: 16px;
  font-weight: 500;
}

:root{
  --color-high:#FF3D00;
  --color-medium: #FFA800;
  --color-low:#7AE229;
  --color-Marketing: blue;
  --color-Design: #FF7A00;
  --color-Sales: #ec8ce4;

  --color-1:#0190E0;
  --color-2:#EE00D6;
  --color-3:#02CF2F;
  --color-4:#FFA800;
  --color-5:#9327FF;
  --color-6:#FF5C00;
  --color-7:#CB02CF;
  --color-8:#AF1616;
  --color-9:#462F8A;
  --color-0:#007CEE;
}

.columns {
  display: flex;
  overflow-x: auto;
}

h3 {
  color: #333;
}

.all-tasks{
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.category {
  display: flex;
  background-color: #efefef;
  height: 100%;
  min-height: 400px;
  max-height: calc(100vh - 200px);
  flex-direction: column;
  align-items: center;
  margin: 16px 16px;
  border-radius: 10px;
  min-width: 260px;
}

.task-each-category {
  background-color: white;
  margin: 12px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 10px;
  cursor: pointer;
}

.group-title{
  display: flex;
  justify-content: flex-start;
  width: 100%;
  padding-left: 25px;
}

.color-field {
  height: 16px;
  width: 60px;
  border-radius: 20px;
}

.task-description {
  margin: 0px 0 8px 0;
  color: rgba(0,0,0, 0.4);
  font-weight: 500;
  font-size: 15px;
  width: 210px;
  word-wrap: break-word;
}

.members-and-prio {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 10px;
}

.members-and-prio img{
  height: 32px;
}

.urgency-invert-color{
  filter: brightness(0) invert(1);
  height: 32px;
}

.priority-label{
  padding: 0px 12px;
  border-radius: 5px;
  color: white;
  font-size: 17px;
  display: flex;
  align-items: center;
  width: fit-content;
  height: fit-content;
}

.dialog-detail-text{
  color: #212325;
  font-size: 20px;
  font-weight: 600;
  margin-right: 10px;
  margin-bottom: 17px;
}


.time-date {
  display: flex;
  align-items: center;
  opacity: 0.5;
}

.date {
  margin: 0 8px;
}

.dialogb {
  position: absolute;
  background-color: #fefefe;
  margin: auto;
  color: black !important;
  font-size: 20px;
  padding: 27px;
  border: 1px solid #888;
  width: 400px;
  border-radius: 16px;
}

.close-btn {
  position: absolute;
  top: 27px;
  right: 27px;
  height: 26px;
  background-color: white;
  cursor: pointer;
}

.del-btn {
  position: absolute;
  bottom: 27px;
  right: 27px;
  width: 110px;
  height: 30px;
  border-radius: 5px;
  color: white;
  background-color: #2A3647;
  border: 1px solid rgb(153, 149, 149);
  cursor: pointer;
}

.dialog-description{
  margin-bottom: 20px;
  color: #2A3647
}

.avatar {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #FF7A00;
  border: 1px solid white;
  /* object-fit: cover; */
}

.initial-text{
  text-align: center;
  color: white;
  font-size: 14px;
}

.member-symbol{
  display: flex;
}

.user-name {
  margin-left: 16px;
  font-weight: 400;
  font-size: 19px;
}

.user-images-names {
  display: flex;
  margin-right: 22px;
  margin-bottom: 16px;
  align-items: center;
  text-align: center;
}

.avatar-ov {
  width: 32px;
  height: 32px;
  margin: 4px;
  border-radius: 50%;
  object-fit: cover;
}

.avatar:nth-child(2) {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: -9px;
}

.task-h4{
margin-top: 20px;
margin-bottom: 10px;
color: rgba(0,0,0, 0.7);
}

.drag-erea-highlight{
  background-color: #cccccc;
}

.status{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: #cccccc;
  font-size: 14px;
}

.task-member{
  display: flex;
  align-items: center;
  position: relative;
}

.number-of-member{
  font-weight: bold;
  color: #ccc;
  padding-left: 4px;
}

.category-label{
  padding: 2px 15px;
  border-radius: 5px;
  color: white;
  font-weight: 300;
  width: fit-content;
}

.member-overview{
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  bottom: 100%;
  padding: 8px;
  border-radius: 8px;
  background-color: white;
  right: 0;
  box-shadow: 5px 5px 16px 0px rgba(0,0,0,0.5);
  min-width: 120px;
}

.d-none{
  display: none !important;
}

.mobile-move-category {
  display: none;
}

@media (max-width: 870px){
  .category {
    box-sizing: border-box;
    min-width: 260px;
    width: 100%;
  }

  .member-overview{
    left: 0%;
  }

  .mobile-move-category {
    display: inherit;
    display: flex;
    flex-direction: column;
  }

  .category-btn {
    width: 90px;
    height: 18px;
    border-radius: 5px;
    color: white;
    background-color: #9393a1;
    border: 1px solid #6a6464;
    cursor: pointer;
    margin-top: 5px;
  }


}